@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@media(min-width:700px){
    .burger-nav, #b-menu{
        display: none;
    }
    header nav{
        display: block;
    }
    #reg-form{
        left: 20%;
        top: 20%;
        width: 365.86px;
        height: 510.38px;
    }

    #plants-img{
        left: 30%;
        /* width: 800px; */
        width: 55%;
        /* height: 600px; */
        height: 70%;
        object-fit: cover;
        border: 4px solid #342B24;
        border-radius: 10px;
        z-index: 1;
    }

    /* most reads section */
    #most-reads{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-image: url('./assets/miniMostReads.png');
        background-size: cover;
        /* height: 647px; */
        height: 670px;
        min-width: 750px;
        margin-left: 10%;
        margin-right: 10%;
        background-repeat: no-repeat;
    }
    .cards{
        flex-direction: row;
    }

    /* mission section */
    .mission-section{
        padding: 200px;
    }
    
    /* footer section */
    #footer-img{
        width: 400px;
        height: 100px;
    }
}